header{text-align:center;
color:blue;

}
.p{margin:5px;}
.u{background-color:#7FFF00;
font-style:bold;
font-size:5rem;

}
.c{position:relative;
left:20rem;
margin:20px;
}
.v{position:relative; left:35rem;}
.k{background-color:#7FFF00;}
.hz{text-align:center;
width:50%;
margin: 25px auto;}
.a{
font-size:6rem;}
.cont{background-color:aqua;
}
.af{background-color:#7FFF00;}
.f{position:absolute;
right:0px;
margin-right:8px;
}
#footer{background-color:#7FFF00;
text-align:center;
padding:10px;margin:0px;}
#footer p{color:white;
padding:10px;margin:10px;
font-size:2rem;}
tr:nth-child(odd){background-color:white;}
.tb{margin:10px;
text:align:center;}
.ta th,.ta td {padding:8px; margin:5px;}
.hm{text-align:right;font-style:Italic;
padding-right:5px;/*margin-right:10px;*/
border-bottom-style:double;
border-width:1rem;
}
.hh{padding-left:5px;/*margin-left:10px;*/
border-bottom-style:double;border-width:1rem;font-style:Italic;

}
.id{font-size:20px;
line-height:1.5;
color:blue;
margin:5px;
word-spacing:16px;
text-align:center;}
.su{text-align:center;
font-style:Italic;
border-bottom-style:double;
border-width:1rem;}
.at{width:220px;
position:relative;
right:10px;}
.x2{position:relative;
right:7px;}
.x{position:relative;
right:10px;
.ta{margin:10px;}
.la{padding:8px;margin:5px;}


